/* Mixins */
@mixin user-cant-select() {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  }
  
  .kaiti {
    font-family: KaiTi, FangSong, SimHei, SimSun;
  }
  
  $red: red;
  $redText: darken($red, 10%);
  $redHighlight: brown;
  $redIntersectionHighlight: lighten($red, 20%);
  
  $black: #222;
  $blackText: darken(white, 0);
  $blackHighlight: #555;
  $blackIntersectionHighlight: lighten($black, 20%);
  
  $intersectionHighlight: rgb(200, 150, 100);
  
  .inline {
    display: inline-block;
  }
  .block {
    display: block;
  }
  
  text.kaiti, g.kaiti{
    @include user-cant-select();
    @extend .kaiti;
    color: #dd4444;
    font-size: 16px;
  }
 
  g.chess-piece {
    fill: #DAC298;
    font-size: 16px;
    cursor: -webkit-grab;
  
    &.red {
      text {
        stroke: $redText;
      }
      &.selected {
        text { stroke: $redHighlight; stroke-width: 2;}
        stroke: $redHighlight;
      }
      stroke: $red;
    }
    &.black {
      fill: $black;
      stroke: white;
      text {
        stroke: $blackText;
      }
      &.selected {
        text: {stroke: $blackHighlight; stroke-width: 2;}
        stroke: $blackHighlight;
      }
    }
    &.selected {
      circle.piece-outline {
        stroke-width: 3;
      }
      circle.piece-inline {
        stroke-width: 3;
      }
    }
  
    &.haloed{
      &:hover { opacity: 0.7; }
      circle.piece-halo {
        opacity: 0.3;
        display: block;
      }
    }
  
    circle.piece-block {
      fill-opacity: 1;
      stroke-width: 1;
    }
    circle.piece-inline {
      fill-opacity: 0;
      stroke-width: 2;
    }
    circle.piece-outline {
      stroke-width: 1;
    }
    circle.piece-halo {
      display: none;
    }
  
  
    text {
      @include user-cant-select();
      @extend .kaiti;
      color: #dd4444;
      font-size: 21px;
    }
  }
  
  


  