@import './Board.css.scss';

g.intersection {

  fill-opacity: 0;
  fill: $intersectionHighlight;

  &.highlighted {
    cursor: -webkit-grab;
    fill-opacity: 0.5;
    &.Coordinate_STATE__redHighlighted { fill: $redIntersectionHighlight; }
    &.Coordinate_STATE__blackHighlighted { fill: $blackIntersectionHighlight; }
  }

  &.highlighted:hover { fill-opacity: 0.7; }
  &.occupied { pointer-events: none; }
}
