.room-id {
    width: 70px;
    height: 70px;
    border: 2px #c39d70 solid;
    border-radius: 10px;
    color: #f4f02d;
    font-size: 2rem;
    line-height: 70px;
    text-align: center;
    background: #8d683b;
    float: left;
}

.room-basic-info {
    font-size: 1.25rem;
    padding: 0 15px;
    height: 70px;
    float: left;
    overflow: hidden;
}

.room-match-info {
    float: right;
    height: 70px;
}

.player1 {
    float: left;
}

.player2 {
    float: right;
}

.versus-img {
    background-image: url('/assets/vs.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 70px;
    float: left;
}