body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    height: 150px;
    width: 771px;
    background: url("/assets/logo.png") 0 0 no-repeat;
    background-size: 771px 150px;
    margin-bottom: 30px;
}

body>#root {
    height: 100vh;
}

.btn-exlg {
    padding: .5rem 1rem;
    font-size: 3rem;
    line-height: 1.5;
    border-radius: .5rem;
}

.wrapper {
    width: 2000px;
    height: 1000px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -1000px;
    margin-top: -500px;
}

.outerWrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/landing_bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.align-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    margin-top: 150px;
    margin-bottom: 50px;
}

.intro>h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

.intro>h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.bottomlink {
    position: fixed;
    bottom: 0;
    right: 0;
}

.bottomlink ul {
    list-style: none;
}

.bottomlink li {
    display: inline;
}

.bottomlink a {
    color: #fff;
}

@media (max-width: 576px) {
    .col-xs-auto {
        width: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .col-sm-auto {
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-auto {
        width: auto;
    }
}

@media (min-width: 992px) {
    .col-lg-auto {
        width: auto;
    }
}