.myBackground {
    padding: 0.5rem 0.2rem;
    margin-bottom: 0.2rem;
    background-color: #098d31;
    border-radius: 0.3rem;
}

.colorBackground {
    background: #27ae60;
}

.link {
    color: #000000;
    /* black*/
}

.myButton {
    background-color: #ffffff;
    /* white */
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12spx;
    border-radius: 4px;
}

.appIcon {
    max-width: 85%;
    height: auto;
}

.nav-tabs {
    margin-bottom: 15px;
}