.main {
  height: 100vh;
  width: 100vw;
  background: url('/assets/bg.jpg');
}

.profilebar {
  padding-left: 5vw;
  padding-top: 1vh;
  position: absolute;
  height: 20vh;
  width: 100vw;
  color: #fff;
}

.profilebar .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profilebar {
  align-items: center;
}

.profilebar>div {
  float: left;
  padding: 10px;
}

.text-stroke {
    text-shadow: 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410, 0 0 2px #410;
}

.room-list-container {
  color: #fff;
  height: calc(100% - 50px);
  max-width: 1415px;
  margin: 0 auto;
  overflow: hidden;
}

.room-item {
  padding: 10px;
  margin: 5px;
  width: calc(100% - 4px);
  background: transparent;
  max-height: 101px;
  max-width: 691px;
  min-width: 472px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  float: left;
}

.room-item:hover {
  cursor: pointer;
  color: #cecece;
}

.room-item:nth-child(odd) {
  background-image: url('/assets/imgBG2.png');
}

.room-item:nth-child(even) {
  background-image: url('/assets/imgBG1.png');
}

.room-item-field {
  text-align: center;
  min-width: 8%;
  max-width: 30%;
  display: flex;
  align-items: center;
}

.room-item-field img {
  vertical-align: middle;
  max-width: 48px;
  max-height: 48px;
  border-radius: 24px;
}

.room-item .player-field {
  align-items: flex-end;
}

.room-item .player-field img {
  margin: 10px;
}

.profile-card {
  width: 500px;
  height: 100px;
  padding: 10px;
  background: url("/assets/profile-card1.png");
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.x60 {
  width: 60px;
  height: 60px;
}

.x90 {
  width: 90px;
  height: 90px;
}

.centered {
  margin: 0 auto;
  overflow: hidden;
}

.profile-card-img {
  width: 60px;
  height: 60px;
  float: left;
  padding: 5px;
}

.profile-card-info {
  float: left;
  margin-left: 10px;
  line-height: 1.5;
  width: 250px;
  color: white;
}

.head-row {
  height: 100px;
}

.body-row {
  height: calc(100vh - 100px);
  overflow: hidden;
}

.foot-row {
  height: 50px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.container-fluid {
  height: 100%;
}

.room-list-menu {
  display: table;
  margin: 0 auto;
  height: 75px;
}

.room-list {
  height: calc(100% - 75px);
}

.room-list-menu-item {
  margin: 10px;
  padding: 10px;
}

.room-list-header {
  background-image: url('/assets/danhsachphong.png');
  background-repeat: no-repeat;
  background-size: 225px 50px;
  height: 50px;
  width: 225px;
  margin: 0 auto;
}

.red-player-name::before {
    content: url('/assets/red.png');
    vertical-align: -35%;
}

.black-player-name::before {
    content: url('/assets/black.png');
    vertical-align: -35%;
}

.room-bet {
  background: url('/assets/tiencuoc.png');
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 35px;
  margin-top: 5px;
  display: inline-block;
}

.exit-room-btn {
  position: absolute;
  right: 0;
}

.avatar-upload {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    line-height: 100px;
}

.btn-upload-avatar {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    opacity: 0;
}

.avatar-upload:hover .btn-upload-avatar {
    display: block;
    opacity: 1;
    transition: opacity 0.3s linear;
}