#body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: white;
}

.img-thumbnail {
    height: 100%;
    width: 100%;
}

#user-name {
    font-size: 30px;
}

#full-name, #country, #sex {
    font-size: 15px;
}

.progress {
    width: 220px;
    margin-left: 7px;
    margin-top: 5px;
}

#brief-info {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

#brief-info-icon {
    font-size: 100px;
}

.tab-content {
    height: 150px;
}

.row {
    margin-bottom: 10px;
}