.game-room {
    width: 100vw;
    height: 100vh;
}

.player-card {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    background: rgba(46, 204, 113, 0.25);
    border: 4px #27ae60 solid;
}

.player-not-ready {
    border: 4px solid;
    background: rgba(204, 46, 76, 0.25);
    border-color: #962110;
}

.player-wating {
    border: 4px #535353 solid;
    background: rgba(125, 125, 125, 0.25);
}

.game-info {
    padding: 5px 0;
    color: #fff;
    text-align: center;
}

.game-left-panel {
    width: 25%;
    height: 100%;
    position: relative;
    float: left;
}

.game-menu {
    padding: 5px 0;
    text-align: center;
}

.game-middle-panel {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.game-right-panel {
    width: 25%;
    height: 100%;
    position: relative;
    float: left;
}

.game-room {
    padding: 70px;
    width: 100vw;
    height: 100vh;
    color: white;
}

.game-info-border {
    border: 4px #27ae60 solid;
    background: rgba(46, 204, 113, 0.25);
    border-radius: 10px;
}

.player-info {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.player-exp {
    background: url('/assets/iconExp.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-left: 15px;
    text-align: left;
    display: inline-block;
}

.player-coin {
    background: url('/assets/iconGold.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
    text-align: left;
    display: inline-block;
}

.player-piece {
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 28px;
}

.player-card-menu {
    height: 30px;
    border-bottom: 4px solid;
    border-color: inherit;
    padding: 0 5px;
    line-height: 30px;
    margin-bottom: 10px;
}

.kick-btn {
    display: inline-block;
    margin-left: 5px;
    float: right;
}

.player-level {
    float: left;
}

.game-chat {
    border: 4px #27ae60 solid;
    background: rgba(46, 204, 113, 0.25);
    border-radius: 10px;
    height: 100%;
}

.room-time {
    overflow: hidden;
    border-top: 4px #27ae60 solid;
}

.player-time {
    float: left;
    height: 26px;
    width: 100%;
}

.red-time {
    border-right: 4px #27ae60 solid;
}

.black-time {}

.chat-scrollbar {
    width: 100%;
    height: calc(100% - 35px);
    border-bottom: 4px #27ae60 solid;
    color: #fff;
}

.chat-area {
    padding: 10px;
    line-height: 10px;
}

.chat-area p {
    margin-bottom: 10px;
}

.chat-area p span {
    color: #27ae60;
}

.chat-input {
    width: 100%;
    height: 35px;
    color: #fff;
    background: transparent;
    border: none;
}

.chat-input:focus {
    outline: none;
}

.game-menu-item {
    width: 33%;
}

.btn-exit-room {
    position: absolute;
    top: 10px;
    right: 10px;
}

.chess-board {
    position: relative;
    width: auto;
    display:inline-block
}

.ready-overlay, .end-game-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.ready-overlay {
    padding: 50% 0;
    background-color: rgba(0,0,0,0.5);
}

.end-game-overlay {
    padding: 25% 0;
    background-color: rgba(0,0,0,0.7);
}

.end-game-info {
    padding: 15px;
}

.profile-left-info {
    float: left;
    width: 120px;
}

.profile-right-info {
    float: left;
}

.end-game-img {
    background-repeat: no-repeat;
    width: 142px;
    height: 144px;
}